/* Default Rules
Base rules are the defaults. They are almost exclusively single element selectors but it could include
attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base
style says that wherever this element is on the page, it should look like this.
*/

html, body, form {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  /* line-height: 45%;  */
}



* {
  box-sizing: border-box;
}